{% extends 'main.html' %}

{% block content %}
<div class="projects-grid" id="blog-grid">
    {% for article in articles %}
        <div class="project" id="blog">
            <img src="{{ article.thumb.url }}" alt="{{ article.title }}">
            <p class="snippet">{{ article.snippet }} 
                <snap>click below for more</snap></p>
                <a class="title" href="{{ article.url }}">
                    <h1 >{{ article.title }}</h1> 
                </a>
        </div>
    {% endfor %}
</div>
{% endblock content %}
